/*.eps
/os-level-virtualization.pdf
/hardware-virtualization.pdf
/virt-infra-overview.pdf
/os-level-virtualization.png
/hardware-virtualization.png
/virt-infra-overview.png
/recovery-in-simulated-dropouts.png
